@tailwind base;
@tailwind components;
@tailwind utilities;

 
body {
 min-height: 100vh;
 
}


::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background: #000004; /* color of the track */
 
}

/* Scrollbar thumb (the moving part) */
::-webkit-scrollbar-thumb {
  background-color: #00114a; /* color of the thumb */
  
}

/* Scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* darker color on hover */
}
 